* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'fantasy', Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "menu"
        "serch"
        "main"
        "footer";
    grid-template-rows: 10% 10% auto 10%;
    min-height: 100vh;

}

menu {
    background: green;
    grid-area: menu;
}

.serch {
    background: red;
    grid-area: serch;
}

main {
    background: gray;
    grid-area: main;
    display: grid;
    grid-template-areas:
        "cards"
        "pags";
    grid-template-rows: auto 10%;
    height: 100%;
}

main .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: cards;

}

main .cardContainer .card {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
        justify-content: space-between;
    background: white;

}

main .cardContainer .card .cardImg {
    overflow: hidden;
}

main .cardContainer .card .cardImg img {
    width: 100%;
}

main .cardContainer .card .cardBody {
    display: flex;
    flex-direction: column;
}

main .cardContainer .card .cardBody button {
    align-items: stretch;

}

main .cardPag {
    text-align: center;
    grid-area: pags;
}

main .cardPag a {
    color: blue;
    padding: 7px;
    background: gray;
    border: 1px solid blue;
}

footer {
    background: blue;
    grid-area: footer;
}

@media (max-width: 575px) {

    #card2,
    #card3,
    #card4,
    #card5,
    #card6,
    #card7,
    #card8 {
        display: none;
    }
}

/* @media (max-width: 576px) {
    body {
        background: black;
    }

    p {
        font-family: monospace;
    }
}

@media (min-width: 575px) {
    body {
        background: green;
    }

    p {
        font-family: fantasy;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center
}

.grid .card {
    width: 200px;
}

.grid .card img {
    width: 100%;
}

.grid p {
    background: #749c2c;
    color: white;
    padding: 10px;
    margin: 10px;

}

@media (min-width: 576px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

nav {
    padding: 10px;
    grid-area: menu;
    background: #0037a1;
    color: white;
}
main {
    grid-area: main;
    padding: 10px;
}
footer {
    grid-area:pie;
    background: #d02a1e;
    color: white;
    padding: 10px;
}
.grid{
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
    "menu"
    "main"
    "pie";
}
@media (min-width: 992px)
{
    .grid {
        grid-template-columns: 1fr 10fr;
        grid-template-areas: 
        "menu main"
        "menu main"
        "menu pie";
      
    }
}

@media (max-width: 576px) {
    body {
        background: black;
    }
}

@media (min-width: 576px) {
    body {
        background: #749c2c;
    }
}

p {
    color: crimson
}

@media (min-width: 576px) {
    p {
        color: purple
    }
}

@media (min-width: 768px) {
    p {
        color: green
    }
}

@media (min-width: 992px) {
    p {
        color: chocolate
    }
}

ul {
    padding: 10px;
    list-style: none;
    color: white;
    background: #749c2c;
    display: flex;
    flex-direction: column;
}

ul li {
    padding: 5px;
}

@media (min-width: 576px) {
    ul {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    ul {
        justify-content: flex-end;
    }
}

.filtros {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.filtros div {
    margin-bottom: 30px;
}

@media (min-width: 576px) {
    .filtros {
        flex-direction: row;
        justify-content: space-around;
    }
} */