* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "menu serch"
        "menu main"
        "footer main";
    grid-template-rows: 7% auto 8%;
    grid-template-columns: 15% auto;
    min-height: 100vh;

}

menu {
    background: black;
    color: white;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    text-align: center;
}

menu .menu-logo {
    width: 100%;
}

menu .menu-logo img {
    width: 100%;
}

menu .menu-body .categorias {
    justify-content: center;
}

menu .icono-hamburgesa {
    display: none;
}

.serch {
    background: yellow;
    grid-area: serch;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.serch .container-select {
    display: flex;
    justify-content: center;

}

.serch .container-select select {

    padding-left: 35%;
    padding-right: 35%;
}

main {

    grid-area: main;
    display: grid;
    grid-template-areas:
        "cards"
        "pags";
    grid-template-rows: auto 50px;
}

main .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    grid-area: cards;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
}

main .card-container .card {
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow:
        2px 2px 5px 1px rgba(0, 0, 0, 0.2),
        6px 6px 7px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

main .card-container .card .card-img {
    width: 40%;
    overflow: hidden;
}


main .card-container .card .card-img img {
    width: 100%;

}

main .card-container .card .card-body {
    display: flex;
    flex-direction: column;
    background: white;
}

main .card-container .card .card-btns {
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

main .card-container .card .card-btns .input-cantidad {
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
}

main .card-container .card .card-btns .btn-menos,
.btn-mas {
    border: none;
    color: white;

    background: black;
    padding: 10px 10px 10px 10px;
    border-radius: 25%;

}

main .card-container .card .card-btns .btn-agregar {
    background-color: yellow;
    border: none;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 15px;
}

main .card-pag {
    grid-area: pags;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    background: black;
}

main .card-pag a {
    color: black;
    padding: 7px;
    background: yellow;
    border: 1px solid black;

}

footer {
    background: yellow;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

/* hover */
menu .categorias:hover {
    background-color: yellow;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    transition: 0.5s;
}

main .card-container .card:hover {
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
    transform: translate(1px);
    transition: 0.5s;
}

main .card-container .card .card-btns .btn-menos:hover,
.btn-mas:hover {
    background-color: yellow;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    color: black;
    border-radius: 25%;
}

main .card-container .card .card-btns .btn-agregar:hover {
    background-color: red;
    transition: 0.5s;
}

main .card-pag a:hover {
    background-color: red;
    transition: 0.5s;
}



/* media */

@media (max-width: 575px) {
    .container {
        grid-template-areas:
            "menu"
            "serch"
            "main"
            "footer";
        grid-template-rows: 10% 10% auto 10%;
        grid-template-columns: auto;
    }
    main .card-container .card {
        height: 90%;
        width: 90%;
    }
    #card-2,
    #card-3,
    #card-4,
    #card-5,
    #card-6,
    #card-7,
    #card-8 {
        display: none;
    }

    menu {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    menu .menu-logo {
        width: 20%;
    }

    menu .menu-body {
        display: none;
    }

    menu .icono-hamburgesa {
        display: flex;
        margin-right: 10%;
    }

}